# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Production Builds
dist/
build/

# Local databases
server/data/

# Logs
logs/
*.log

# Editor & OS files
.DS_Store
.idea/
.vscode/
